

=border-radius($radius)
    -webkit-border-radius: $radius
    -ms-border-radius: $radius
    border-radius: $radius

%container
    background: $boxes
    border: 1px solid black
    +border-radius(10px) 
